.container {
    margin-top: 70px;
    margin-bottom: 70px;
}

.records > .record {
    min-height: 200px;
    margin: 15px 10px;
    border: black solid 1px;
    border-radius: 15px;
    padding: 10px 10px 65px 10px;
    position: relative;
}

.records > .record > a > .title {
    font-size: 25px;
    border-bottom: gray solid 1px;
}

.records > .record > .date{
    height: 25px;
    text-align: right;
    color: gray;
    border-top: gray solid 1px;
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;
}

.records > .record > .count {
    height: 25px;
    text-align: right;
    color: gray;
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
}

.bpost {
    margin: 15px;
}

.bpost > .ptitle {
    font-size: 40px;
    margin: 10px;
}

.bpost > .post {
    border: black solid 1px;
    min-height: 200px;
    position: relative;
    padding: 10px 10px 35px 10px;
    border-radius: 15px;
}

.bpost > .post > .date {
    height: 25px;
    text-align: right;
    color: gray;
    position: absolute;
    border-top: gray solid 1px;
    bottom: 0;
    left: 10px;
    right: 10px;
}

.comments {
    margin: 15px;
}

.comments > .ctitle {
    font-size: 20px;
    margin: 10px;
}

.comments > .comment-wrap {
    margin: 10px 10px 10px 30px;
    padding: 10px;
    border: black solid 1px;
    border-radius: 15px;
    min-height: 100px;
}

.comments > .comment-wrap > .name {
    font-size: 18px;
    border-bottom: gray solid 1px;
}

form > .error {
    color: red;
    display: none;
}